<% layout('layouts/boilerplate') -%>

<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="text-center">New Campground</h2>
    <form class="needs-validation" action="/campground" method="POST" enctype="multipart/form-data" novalidate>

      <div>
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="campground[title]" class="form-control" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div>
        <label for="Location" class="form-label">Location</label>
        <input type="text" id="Location" name="campground[location]" class="form-control" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div>
        <label for="Image" class="form-label">Image</label>
        <input type="file" id="Image" name="images" class="form-control image-input" multiple="multiple" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div>
        <label for="CampgroundPrice" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" id="CampgroundPrice" class="form-control" name="campground[price]" placeholder="0.00" aria-label="Amount (to the nearest dollar)" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div>
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="campground[description]" class="form-control" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <button class="btn btn-success my-3">Add Campground</button>
      <div><a class="btn btn-info" href="/campground">Back All Campgrounds</a></div>
    </form>
  </div>
</div>